
<div class="vertical-divider"></div>

<!-- center messages list  -->
<div class="col-md-6 sms-content">

    
  <!-- <h2>Micheal Faluhah<span>10:11 am CET</span></h2>
  <h3>subject : need to lose some weight</h3> -->
  <div class="msg-box">
    <div id="demo">
      <div class="content mCustomScrollbar">
      <div class="media" >
        
        <ul class="media-body message-thread">
          <li *ngFor="let m of messages;index as i" class="user-chat">
              <div [ngClass]="{'pic-active' : (trainer.isOnline && trainer.isOnline == 1), 'no-image': (user.id === m.sender_id)}">
                  <img [src]="m.photofrom" class="media-object" (error)="avatar.src='assets/images/user2.png'" style="width:60px" #avatar>
              </div>
              <div class="user-chat-in">
                  <h4 class="media-heading">
                    {{ (m.sender_id !== user.id)?m.messagefrom:'You' }}
                    <span class="pull-right">{{ m.created_at | date : "d, MMM hh:mm a" }}</span>
                  </h4>
                  
                  <p  class="text-left">{{ m.message }}</p>
                  <hr>
              </div>
            </li>
        </ul>    
      </div>
        <div class="msg-settings">
          <span></span><span></span><span></span>
        </div>
      </div>

      <angular-loader></angular-loader>
    
    </div>
  </div>


  <form [formGroup]="msgForm" (ngSubmit)="sendMessage()">
    <div class="sms-message">
      <textarea formControlName="message" placeholder="Please type your message here"></textarea>
    </div>
    <button class="pull-right btn send-btn" [disabled]="!msgForm.valid">Send</button>
  </form>  


</div>

<div class="vertical-divider-1"></div>

<!-- right side  messages list  -->
<!-- <div class="col-md-3 sms-content sms-save">
  <h2>Settings</h2>
  <h3>message settings</h3>
  <span>send an email with unread message for:</span>
  <label class="setting-label btn btn-primary">All Activity</label>
  <label class="setting-label btn btn-primary">Every 15 Minute</label>
  
  <div class="checkbox">
    <label>
      <input value="" type="checkbox">
      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
        Only send when offline or idle
    </label>
  </div>
  <button class="pull-right btn send-btn">Send</button>
</div> -->

