<header class="top-header">
	
	<app-navbar></app-navbar>	

	<!-- banner -->

	<div class="container top-banner">
		<div class="row">
			<div class="col-md-5 banner-heading">

				<h2>Do you want to <br> <strong>improve </strong>your Body?</h2>
				<div class="input-group stylish-input-group">
					<input type="text" class="form-control"  placeholder="Search" >
					<span class="input-group-addon">
						<button type="submit">
							<span class="glyphicon glyphicon-search"></span>
						</button>  
					</span>
				</div>

			</div>


		</div>
	</div>

	<!-- banner -->

</header>