<footer>
	<div class="container build-your">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<span>Build your own futures</span>
				</div>
			</div>
			<div class="col-md-6 pull-right">
				<div class="row">
					<a routerLink="/newsletters" class="pull-right btn news-l">Get Newsletter</a>
					<a routerLink="/newsletters" class="pull-right btn get-early">Get Early Access</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container footer-bar">
		<div class="row">
			<div class="col-sm-4">
				<div class="footer-select">
					<select >
						<option>English</option>
						<option>English</option>
						<option>English</option>
					</select>
					<i class="fa fa-angle-down" aria-hidden="true"></i>

				</div>
				<div class="footer-menu pull-right">
					<ul>
						<li><a routerLink="/">Home</a></li>
						<li><a routerLink="/pages/about_us">About us</a></li>
						<li><a routerLink="/pages/advantages">Advantages</a></li>
						<li><a routerLink="/pages/preview">Preview</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="terms">
					<ul>
						<li><a routerLink="/pages/term_condition">Terms & Conditions</a></li>
						<li><a routerLink="/pages/private_policy">Privacy Policy</a></li>
						<li><a routerLink="/pages/support"> Support</a></li>
					</ul>
				</div>
				<span class="pull-right address" >142 Schneider Hills Suite 579 <i class="fa fa-map-marker" aria-hidden="true"></i>
				</span>
				<div class="footer-social">
					<a href="https://facebook.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href="https://twitter.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="https://pinterest.com" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>
	<app-logo-footer></app-logo-footer>
</footer>