<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title><%= global.SITE_NAME %> - Administrator Control Panel</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->

	  <div id="login-page">
	  	<div class="container">
	  			<% if (message.length > 0) { %>
					<div class="row mt"><div class="col-sm-6 col-md-offset-3 alert alert-danger"><%= message %></div></div>
				<% } %>
				<%	
				if (errors && errors.length>0) { 
				%>
				<div class="row mt">
				<div class="col-sm-6 col-md-offset-3 alert alert-danger">	
				<%
					for(var i = 0; i < errors.length; i++) {
						%>
						<%= errors[i].msg %><br />
						<%
					}
				%>
				</div></div>
				<%
				}	
				if(show_box=='1') {
				%>	
		        <form class="form-login" id="frm" method="post" action="">
		        <h2 class="form-login-heading">Reset Password</h2>
		        <div class="login-wrap">		        	
					<input type="password" name="password" id="password" class="form-control required" placeholder="New Password" value="" autofocus>
					<br>
					<input type="password" name="repassword" id="repassword" class="form-control required" placeholder="Confirm Password">
					<input type="hidden" name="loginsubmit" value="change-pasword" />
					<label class="checkbox"></label>
					<button class="btn btn-theme btn-block" onclick="javascript:return submitlogin();"><i class="fa fa-lock"></i> Update</button>
					<hr>
		        </div>
		      </form>
		      <% } %>	  	
	  	
	  	</div>
	  </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.validate.js"></script>
    <script type="text/javascript">
	 $(document).ready(function(){
		$("#frm").validate({   
			rules: {            
				password: {
				required: true,
				minlength: 4
			},
			repassword: {
				equalTo: "#password"
			},           
			}
			});	
		});
	  function submitlogin() {
		jQuery("#frm").submit();	
	 }
	</script>
    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("/img/ny.jpg", {speed: 500});
    </script>


  </body>
</html>
