<header class="top-header">
	<app-navbar></app-navbar>
  	<!-- banner -->
	
	<div class="container top-banner">
		<div class="row">
			<div class="col-md-5 banner-heading">
				 <h2><strong>Thank you for signing up with WellFaster</strong></h2>
				<!--<label>
					A confirmation email has been sent to your email address. 
					To confirm your account, please click on the "Activate account".
				</label>
				<br><br><br> -->
				<!-- <label>
					if you have not received email, please click below to resend email.
				</label> -->
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-md-6 banner-heading category-bar">
				<a routerLink="user" class="btn sign-up-user">Resend Email</a>
			</div>
		</div> -->
	</div>      
	
	<!-- banner -->
</header>

<div class="container category-bar">
	
	  <div class="row">
  
			 <div class="col-md-12 aboutus" style="margin-bottom:50px;">
		<span *ngIf="page=='user'">
			A confirmation email has been sent to your email address. 
			To confirm your account, please click on the "Activate account".
		</span>
		<span *ngIf="page=='trainer'">
			The Wellfaster team are reviewing your request, and will get back to you asap.
			</span>
	</div>
		<app-site-footer></app-site-footer>
	  </div>
	</div>
