<header class="top-header create-acc">
	<app-navbar></app-navbar>
  	<!-- banner -->
	
	<div class="container top-banner">
		<div class="row">
			<div class="col-md-5 banner-heading">
				<h2><strong>Thank you for signing up with WellFaster</strong></h2>
				<label>
					A confirmation email has been sent to your email address. 
					To confirm your account, please click on the "Activate account".
				</label>
				<br><br><br>
				<label>
					if you have not received email, please click below to resend email.
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 banner-heading category-bar">
				<a routerLink="user" class="btn sign-up-user">Resend Email</a>
			</div>
		</div>
	</div>      
	
	<!-- banner -->
</header>

<!-- category-bar -->
<div class="container category-bar"></div>

<footer>
	<!-- copyright -->
	<div class="container-fluid copyright">
		<div class="row">
			<div class="container">
				<div class="row">
					<span class="footer-logo">Logo</span>
					<label class="pull-right">&copy; 2017 Copyrights by wellfaster</label>
				</div>
			</div>
		</div>
	</div>
</footer>
