<header class="top-header forgot-pass">
    <app-navbar></app-navbar>
     
    <!-- banner -->
    <div class="container top-banner">
      <div *ngIf="requestStatus==='accepted'" class="row">
        <div class="col-md-5 banner-heading">
          <h2>Hiring Request<strong> Accept </strong></h2>
          <label>
            you have accepted hiring request of  {{ requestingUser }}
          </label>         
        </div> 
      </div>
      <div *ngIf="requestStatus==='rejected'" class="row ">
        <div class="col-md-5 banner-heading">
          <h2>Hiring Request <strong> Reject </strong></h2>
          <label>
              you have rejected hiring request of {{ requestingUser }}
          </label>
        </div> 
      </div>
      <div *ngIf="requestStatus===''" class="row ">
          <div class="col-md-5 banner-heading">
            <h2>Hiring Request <strong> error </strong></h2>
            <label>
                Either this link is exprired or invalid
            </label>
          </div> 
        </div>
    </div>
    <!-- banner -->
</header>
   
    <!-- category-bar -->
    <div class="container category-bar">
    
      <div class="row">
      </div>
    </div>
   
   <footer>
     
     
     
     <!-- copyright -->
     <div class="container-fluid copyright">
       <div class="row">
         <div class="container">
           <div class="row">
             <span class="footer-logo">Logo</span>
             <label class="pull-right">&copy; 2017 Copyrights by wellfaster</label>
           </div>
         </div>
       </div>
     </div>
   </footer>
   