<!-- jQuery 3 -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/js/adminlte.min.js"></script>

<!-- SlimScroll -->
<script src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>

<script src="/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>

<script type="text/javascript">
	$(function () {
		$.validator.setDefaults({
            errorElement: "span",
            errorClass: "help-block",
            highlight: function(element) {
              $(element).parents().find('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function(element) {
                $(element).parents().find('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorPlacement: function (error, element) {
                if (element.parents('.input-group').length) {
                    error.insertAfter(element.parents('.input-group'));
                }    
                else if (element.prop('type') === 'checkbox' || element.prop('type') === 'radio') {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $(document).on('click', 'a[data-method="post"]', function(ev){
            ev.preventDefault();
            if(window.confirm($(this).attr('data-confirm'))){
                $('<form method="post" action="'+$(this).attr('href')+'"></form>').appendTo('body').submit();
            }
        });
	});	
</script>