<header class="top-header">
    
      <app-navbar></app-navbar>
      <!-- banner -->
    <div class="container top-banner" >
      <div class="row">
        <div class="col-md-5 banner-heading">
          <h2><strong>Choose a plan</strong></h2>
          <!-- <label>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam laoreet velit vitae elementum rutrum. Proin velit tortor, scelerisque quis sapien in, suscipit aliquam est. Nullam viverra aliquet enim, feugiat ornare mauris pellentesque ut. Sed auctor quis ex ac molestie. Suspendisse accumsan metus quis lectus consequat, vitae iaculis massa feugiat. Morbi egestas pellentesque lorem, non tincidunt risus ultrices a. In ut aliquet eros.
          </label>          -->
        </div> 
      </div>
    </div>
  </header>
   <!-- trusted by -->
   <angular-loader></angular-loader>
   <div class="container-fluid bg-section">
   <div class="row">
   <div class="container select-plan" *ngIf="!unvalid">
       <div class="row ">
      
           <div class="col-md-6">
                <div class="plans">
                    <h1>Entry plan</h1>
                    <ul>
                        <li>Sign up</li>
                        <li>Individual training programme</li>
                        <li>Access to Virtual Training</li>
                        <li>Saving training data</li>
                        <li>Free upgrade to Premium plan</li>
                        <li class="li-fade">Personal trainer w. daily follow up</li>
                        <li class="li-fade" >Feedback from trainer</li>
                        <li class="li-fade">Adaption of training programme </li>
                    </ul>
                    <button class="btn" (click)="createpayment('entry',entryprice,'49')"> 49/month + Kr. {{entryprice}}</button>
                </div>
           </div>
           <div class="col-md-6">
                <div class="plans">
                    <h1>Premium plan</h1>
                    <ul>
                        <li>Sign up</li>
                        <li>Individual training programme</li>
                        <li>Access to Virtual Training</li>
                        <li>Saving training data</li>
                        <li>Free downgrade to Entry Plan</li>
                        <li>Personal trainer w. daily follow up</li>
                        <li>Feedback from trainer</li>
                        <li>Adaption of training programme </li>
                    </ul>
                    <button class="btn" (click)="createpayment('premium',preminumprice,preminumpricesubscription)"> {{preminumpricesubscription}}/month + Kr.  {{ preminumprice }} </button>
                </div>
               
           </div>
           
           
       </div>
   </div>
   <div class="container select-plan" *ngIf="unvalid">
    <div class="row ">
            <div class="col-md-12">
        <h2>Invalid User</h2>
    </div>
        </div>
    </div>
   <app-site-footer></app-site-footer> 
   </div>
   </div>