<header class="top-header">
        <nav class="navbar">
         <div class="container">
           <div class="navbar-header">
             <a class="navbar-brand" href="#">WebSiteName</a>
           </div>
           
           <ul class="nav navbar-nav navbar-right">
             <li class="active"><a href="#">Trainers</a></li>
             <li><a href="#">How to book a trainer</a></li>
             
             <li class="menu-login"><span>Sign Up</span> <span>Login</span></li>
             
           </ul>
         </div>
       </nav> 
       
       <!-- banner -->
   
       <div class="container top-banner">
           <div class="row">
               <div class="col-md-5 banner-heading">
                   
                       <h2>Do you want to <br> <strong>improve </strong>your Body?</h2>
                       <div class="input-group stylish-input-group">
                           <input type="text" class="form-control"  placeholder="Search" >
                           <span class="input-group-addon">
                               <button type="submit">
                                   <span class="glyphicon glyphicon-search"></span>
                               </button>  
                           </span>
                       </div>
                   
               </div>
               
   
           </div>
       </div>
   
       <!-- banner -->
       
   </header>
   <!-- category-bar -->
   <div class="container category-bar">
       <div class="row">
           
       </div>
       <hr>
   </div>
   <!-- trusted by -->
   
   <div class="container-fluid bg-section">
   <div class="row">
   <div class="container select-plan">
       <div class="row ">
           <div class="col-md-4">
               <div class="plan-box">
                   <div class="plan-box-top">
                       <h2>Bassic Plan</h2>
                       <span><sup>$</sup>03<sub>/month</sub></span>
                   </div>
                   <div class="plan-box-bottom">
                       <label>There are many variations of passages of lorem Ipsum available, but the majority.</label>
                       <ul>
                           <li><span>Ripper</span></li>
                           <li><span>Cross Generation</span></li>
                           <li><span>Stott Pilates</span></li>
                           <li><span>Spinning</span></li>
                           <li><span>Zumba</span></li>
                       </ul>
                       <button class="btn plan-btn">Start Now</button>
                   </div>
               </div>
           </div>
           <div class="col-md-4">
               <div class="plan-box active">
                   <div class="plan-box-top">
                       <h2>Bassic Plan</h2>
                       <span><sup>$</sup>03<sub>/month</sub></span>
                   </div>
                   <div class="plan-box-bottom">
                       <label>There are many variations of passages of lorem Ipsum available, but the majority.</label>
                       <ul>
                           <li><span>Ripper</span></li>
                           <li><span>Cross Generation</span></li>
                           <li><span>Stott Pilates</span></li>
                           <li><span>Spinning</span></li>
                           <li><span>Zumba</span></li>
                       </ul>
                       <button class="btn plan-btn">Start Now</button>
                   </div>
               </div>
           </div>
           <div class="col-md-4">
               <div class="plan-box">
                   <div class="plan-box-top">
                       <h2>Bassic Plan</h2>
                       <span><sup>$</sup>03<sub>/month</sub></span>
                   </div>
                   <div class="plan-box-bottom">
                       <label>There are many variations of passages of lorem Ipsum available, but the majority.</label>
                       <ul>
                           <li><span>Ripper</span></li>
                           <li><span>Cross Generation</span></li>
                           <li><span>Stott Pilates</span></li>
                           <li><span>Spinning</span></li>
                           <li><span>Zumba</span></li>
                       </ul>
                       <button class="btn plan-btn">Start Now</button>
                   </div>
               </div>
           </div>
           
           
       </div>
   </div>
   <footer>
       <div class="container build-your">
           <div class="row">
               <div class="col-md-6">
                   <div class="row">
                       <span>Build your own future</span>
                   </div>
               </div>
               <div class="col-md-6 pull-right">
                   <div class="row">
                       <button class="pull-right btn news-l">Get Newsletter</button>
                       <button class="pull-right btn get-early">Get Early Access</button>
                       
                   </div>
               </div>
           </div>
       </div>
       
       <div class="container footer-bar">
           <div class="row">
               <div class="col-sm-4">
                   <div class="footer-select">
                       <select >
                           <option>English</option>
                           <option>English</option>
                           <option>English</option>
                       </select>
                       <i class="fa fa-angle-down" aria-hidden="true"></i>
   
                   </div>
                   <div class="footer-menu pull-right">
                       <ul>
                           <li><a href="#">Home</a></li>
                           <li><a href="#">About us</a></li>
                           <li><a href="#">Advantages</a></li>
                           <li><a href="#">Preview</a></li>
                       </ul>
                   </div>
               </div>
               <div class="col-sm-8">
                   <div class="terms">
                       <ul>
                           <li><a href="#">Terms & Conditions</a></li>
                           <li><a href="#">Privacy Policy</a></li>
                           <li><a href="#">Support</a></li>
                       </ul>
                   </div>
                   <span class="pull-right address" >142 Schneider Hills Suite 579 <i class="fa fa-map-marker" aria-hidden="true"></i>
                   </span>
                   <div class="footer-social">
                       <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                       <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                       <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                   </div>
               </div>
           </div>
       </div>
       <!-- copyright -->
       <div class="container-fluid copyright">
           <div class="row">
               <div class="container">
                   <div class="row">
                       <span class="footer-logo">Logo</span>
                       <label class="pull-right">&copy; 2017 Copyrights by wellfaster</label>
                   </div>
               </div>
           </div> 
       </div>
   </footer>
   </div>
   </div>