<!DOCTYPE html>
<html>
<head>
  <% include ../common/header %>
  <link rel="stylesheet" href="/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

  <% include ../common/nav %>

  <% include ../common/left %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper"> 
    
    <section class="content">

      <% include ../common/alert %>


  		<div class="row">
    		<div class="col-xs-12">
      			<div class="box">
        			<div class="box-header">
          				<h3 class="box-title">Banners</h3>
        			</div>
        			<!-- /.box-header -->
        			<div class="box-body">
          				<table id="example2" class="table table-bordered table-hover"></table>
          			</div>
          		</div>
          	</div>
        </div>
    </section>      				


  </div>
  <!-- /.content-wrapper -->
</div>
  	<% include ../common/footer %>
  	<script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
	 <script>
	  $(function () {
	    $('#example2').DataTable({
                ajax: {
                    url: '/admin/table/banners',
                    dataSrc: 'data'
                },
                columns: [
                    { title : 'Photo',  data : 'photo', render: function ( data, type, row ) {
                        return '<a href="/storage/banners/'+ data + '" target="_blank"><img src="/storage/banners/'+ data + '" height="50" ></a>';
                    }},
                    { title: 'Title', data : 'title' },
                    { title: 'Content', data : 'content' },
                    { title: 'Controls', data : 'id', render: function(data, type, row){
                        return  '<a href="/admin/banner/'+data+'" role="button" title="View"><i class="btn btn-info btn-xs fa fa-eye"></i></a> ' +
                                '<a href="/admin/banner/'+data+'" role="button" title="Edit"><i class="btn btn-success btn-xs fa fa-pencil"></i></a> ' +
                                '<a href="/admin/banners/delete/'+data+'" role="button" title="Delete" data-method="post" data-confirm="Are you sure to delete this banner?"><i class="btn btn-danger btn-xs fa fa-trash"></i></a>';
                    }}
                    
                ]
            })
	  });
	</script>
</body>
</html>
