<% include assets %>]
<% if( jsAssets && jsAssets.length > 0 ) { %>
    <% for(let i =0; i<jsAssets.length;i++) { %>
        <script src="<%= jsAssets[i] %>"></script>
    <% } %>
<% } %>

<script type="text/javascript">
  function goBack() {
    location.href="/admin/admin-users";
    return false;
  }
  $(document).ready(function(){ 
    $.validator.setDefaults({
        errorElement: "p",
        errorClass: "help-block",
        highlight: function(element) {
          $(element).parents().find('.form-group').removeClass('has-success').addClass('has-error');
        },
        unhighlight: function(element) {
            $(element).parents().find('.form-group').removeClass('has-error').addClass('has-success');
        },
        errorPlacement: function (error, element) {
            if (element.parent('.input-group').length || element.prop('type') === 'checkbox' || element.prop('type') === 'radio') {
            error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        }
    });

    $(document).on('click', 'a[data-method="post"]', function(ev){
        ev.preventDefault();
        if(window.confirm($(this).attr('data-content'))){
            $('<form method="post" action="'+$(this).attr('href')+'"></form>').appendTo('body').submit();
        }
    });
  });
</script>
