<header class="top-header">
    <a (click)="goToSearch()" class="site-bottom"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
  <app-navbar></app-navbar>
  <!-- banner -->
  <app-header-search></app-header-search>
  <!-- banner -->
</header>
      
<!-- category-bar -->
<div class="container category-bar">
  <div class="row"></div><hr>
</div>
      
<!-- trusted by -->
<div class="container trusted-by" id="trainer">
  <div class="row"><h3 class="text-center"></h3></div>
</div>	
      
      
<div class="container-fluid bg-section">
  <div class="row">

    <!-- main content -->
    <div class="container">
      <div class="row row-divided">
        <!-- left side messages list  -->
        <div class="col-md-3 col-sm-3 col-xs-12 sms-msg ">
          <div class="banner-heading ">
            <div class="input-group stylish-input-group sms-search">
              <input class="form-control" placeholder="Search" type="text" (keyup)="search($event)">
              <span class="input-group-addon">
                <button type="submit">
                  <span class="glyphicon glyphicon-search"></span>
                </button>  
              </span>
            </div>
          </div>
          
          <!-- <div class="footer-select pull-right">
            <select>
              <option>All Recent</option>
              <option>Last week</option>
              <option>Last Month</option>
              <option>All</option>
            </select><i class="fa fa-caret-down" aria-hidden="true"></i>
          </div> -->

          <ul *ngFor="let trainer of trainersdata; index as i">
            
            <li (click) ="setActiveTrainer(i)" [ngClass]="{'us-chat': activeTrainer.id === trainer.id}">
              <div class="col-sm-12 col-md-3 user-img" [ngClass]="{'dp-active' : (trainer.isOnline && trainer.isOnline == 1) ,'dp-disable' : (trainer.isOnline && trainer.isOnline == 2)}">
                <div class="row">
                  <img class="img-responsive" [src]="trainer.photo" (error)="avatar.src='assets/images/user2.png'"  #avatar>
                </div>
              </div>
              <div class="col-sm-9 col-md-9 sms-msg-in">
                <div class="row">
                  <span class="pull-left">{{ trainer.name}}</span>
                  <!-- <label class="pull-right" *ngIf="auth.user.role==1">{{ (trainer.availblity==null)?'Active': trainer.availblity}}</label>  -->
                  <h4 *ngIf="trainer.counter>0" >
                  <span>You have   {{ trainer.counter }} new message</span>
                  </h4>
                </div>
              </div>
            </li>

            
          </ul>
        </div>

        <app-message [activeTrainer]="activeTrainer" [payment]="payment" [setting]='setting'></app-message>     

      </div>
    </div>
    <!-- end main content -->

    <!-- footer -->
    <app-site-footer></app-site-footer>
    <!-- end footer -->
  </div>
</div>