<div class="container category-bar">
	<div class="row">
		<div class="col-md-4 select-btn">
			<div class="dropdown">
				<label>Sort by:</label>
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<label class="pull-left">Dropdown</label>
					<i class="fa fa-caret-down pull-right" aria-hidden="true"></i>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a (click)="sortBy('name')">Name</a></li>
				</ul>
			</div>
		</div>

		<div class="col-md-4 select-btn">
			<div class="dropdown">
				<label>Sort by:</label>
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<label class="pull-left">Dropdown</label>
					<i class="fa fa-caret-down pull-right" aria-hidden="true"></i>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
			</div>
		</div>

		<div class="col-md-4">
			<div class="dropdown ">
				<button class="btn pull-right category-bar-search" type="button" >Search</button>

			</div>
		</div>
	</div>
	<hr>
</div>
<!-- trusted by -->
 <div class="container trusted-by">
	<div class="row">
		<h3 class="text-center">Trusted by the world's best</h3>
		<h1 class="text-center">Our Expert Trainers</h1>
		<h4 class="text-center">Lorrem ipsum is simply dummy text</h4>
	</div>
</div>
<div class="container-fluid bg-section">
	<div class="row">
		<div class="container">
			<div class="row ">

				<div *ngFor="let trainer of trainers;index as i;" class="col-md-4 ">
					<div class="trusted-box">
						<div class="col-md-5">
							<img class="img-responsive img-circle" [src]="trainer.photo">
						</div>
						<div class="col-md-7">
							<a [routerLink]="'/trainers/'+trainer.id">
								<h3>{{ trainer.first_name + ' ' +  trainer.last_name}}</h3>
							</a>	
							<span>Transforming lifes one body at a me</span>
							<hr>
							<span>area Copenhagen, Denmark</span>
							<h3>dkr. 125<span>uge</span></h3>
							<span>4/8/12 week programs</span>	
						</div>
						<div class="col-md-12 star-rating" style="margin-top:15px">
							<rating [ngModel]="(i%6)" max="5" [readonly]="isReadonly"></rating>
							<div class="pull-right">
							<a routerLink="/message" class="btn plan-btn">message</a>
							<a routerLink="/payment" class="btn plan-btn">Subscribe</a>
							</div>
						</div>
					</div>
				</div>

				

				<br>
				<button class="btn btn-center btn-primary load-more" (click)="loadMore()">Load More</button>
				<br>
			</div>
		</div>

		<app-site-footer></app-site-footer>
	</div>
</div>	