<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../common/header %>
	</head>
	<body>
	  	<div id="wrapper">
			<% include ../common/nav %>
			
			<div id="page-wrapper">
			    <div class="row">
			        <div class="col-lg-12">
			            <h4 class="page-header">Admin Users</h4>
			        </div>			       
			    </div>

			    <div class="row">
			    	 <div class="col-lg-6">
			            <% if (errors.length > 0) { %>
					      <div class="alert alert-danger">
					      	 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					      	<%= errors %>
					      </div>
					    <% } %>
						<% if (success.length > 0) { %>
					      <div class="alert alert-success">
					      	 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					      	<%= success %>
					      </div>
					    <% } %>
			        </div>
			    	<div class="col-md-6">
			    		<a href="/admin/edit-admin" title="Add New User" class="btn btn-success btn-sm pull-right">Add New User</a>
			    	</div>

			        <div class="col-lg-12" style="margin-top:10px;">
			            <div class="panel panel-default">
			                <div class="panel-body">
			                	<table id="editable" class="table table-hover dataTable" ></table>
							</div>
			            </div>
			        </div>
			    </div>
			</div>  

			<% include ../common/footer %>
		</div>
	    <!-- /#wrapper -->
		
		<% include ../common/script %>
	    
		<script type="text/javascript">
			$(document).ready(function() {
				$('#editable').dataTable({
					ajax: {
                    	url: '/admin/table/admins',
                    	dataSrc: 'data'
	                },
	                columns: [
	                    { title : '', render: function ( data, type, row ) {
	                        return '<img src="/images/user.png" class="img-circle" width="50" />';
	                    }},
	                    { title : 'Name', render: function ( data, type, row ) {
	                        return row.first_name + ' ' + row.last_name;
	                    }},
	                    { title: 'Username', data : 'username' },
	                    { title: 'Role',     data : 'role', render : function(data, type, row){
	                    	return (data == 1) ? 'Super Admin' : 'Admin';
	                    }},
	                    { title: 'Controls', data : 'id', render: function(data, type, row){
	                        if((row.is_protected == 'no')){
	                        	return '<a href="/admin/edit-admin/'+data+'" role="button" title="Edit"><i class="btn btn-success btn-xs fa fa-pencil"></i></a> ' +
	                                '<a href="/admin/admin-users/delete/'+data+'" role="button" title="Delete" data-method="post" data-content="Are you sure to delete this admin?"><i class="btn btn-danger btn-xs fa fa-trash"></i></a>';
	                        }else{
	                        	return '';
	                        } 
	                    }}
	                    
	                ]
	            });
			});
		</script>
	</body>
</html>