<!DOCTYPE html>
<html lang="en">
  <% include html/header %>
  <body>
      <div id="wrapper">
        <% include html/nav %>

          <div id="page-wrapper">
            <div class="row">
              <div class="col-lg-12">
                <h4 class="page-header">Change Admin User Password</h4>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-8">
                        
                        <form action="" method="post" name="frm" id="frm">
                          
                          <div class="form-group">
                              <label>Old Password: </label>
                              <input name="old_password" value="" 
                                type="password" class="form-control required" id="old_password"   />
                          </div>
                      
                            <div class="form-group">
                                <label>New Password</label>
                                <input name="new_password" value="" 
                                  type="password" class="form-control required"  id="new_password" />
                            </div>                                                         
                            
                            <div class="form-group">
                                <label>Re Password:</label>
                                <input name="password_again" value="" 
                                  type="password" class="form-control round-form required" id="password_again"  />
                            </div>

                            <button type="submit" name="submit" value="Submit" class="btn btn-success">Save </button>
                            <button class="btn btn-default" onclick="javascript: return goBack()">Cancel</button>

                        </form>

                      </div>
                      <!-- /.col-lg-6 (nested) -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% include html/footer %>
      </div>
      <!-- /#wrapper -->
    <% include html/script %>  
    
    <script type="text/javascript" src="/js/jquery.validate.js"></script>  
    <script type="text/javascript">
      function goBack() {
        location.href="/admin/admin-users";
        return false;
      }
      $(document).ready(function(){ 
        $.validator.setDefaults({
            errorElement: "span",
            errorClass: "help-block",
            highlight: function(element) {
              $(element).parent().removeClass('has-success').addClass('has-error');
            },
            unhighlight: function(element) {
                $(element).parent().removeClass('has-error').addClass('has-success');
            },
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length || element.prop('type') === 'checkbox' || element.prop('type') === 'radio') {
                error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $("#frm").validate({   
          rules: {
              old_password: {
                required: true,
                minlength: 3
              },               
              new_password: {
                required: true,
                minlength: 3
              },
              password_again: {
                equalTo: "#new_password"
              }            
          }
        });

      });
    </script>
  </body>
</html>