<div class="container top-banner">
  <div class="row">
    <div class="col-md-5 banner-heading">
    <h2>Do you want to <br> <strong>improve </strong>your Body?</h2>
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <div class="input-group stylish-input-group">
          <input type="text" formControlName="search" class="form-control"  placeholder="What are you looking for?" >
          <span class="input-group-addon">
            <button type="submit" [disabled]="!searchForm.valid">
              <span class="glyphicon glyphicon-search"></span>
            </button>  
          </span>
        </div>
      </form>	
    </div>
  </div>
</div>