<!DOCTYPE html>
<html>
<head>
  <% include ../common/header %>
  <link rel="stylesheet" href="/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

  <% include ../common/nav %>

  <% include ../common/left %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    
    <section class="content">

    	<% include ../common/alert %>

  		<div class="row">
    		<div class="col-xs-12">
      			<div class="box">
        			<div class="box-header">
          				<h3 class="box-title">Admin Users</h3>
        			</div>
        			<!-- /.box-header -->
        			<div class="box-body">
          				<table id="example2" class="table table-bordered table-hover"></table>
          			</div>
          		</div>
          	</div>
        </div>
    </section>      				


  </div>
  <!-- /.content-wrapper -->
</div>
  	<% include ../common/footer %>
  	<script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
	 <script>
	  $(function () {
	    $('#example2').DataTable({
			ajax: {
	        	url: '/admin/table/admins',
	        	dataSrc: 'data'
	        },
	        columns: [
	            { title : '', render: function ( data, type, row ) {
	                return '<img src="/img/user2-160x160.jpg" class="img-circle" width="50" />';
	            }},
	            { title : 'Name', render: function ( data, type, row ) {
	                return row.first_name + ' ' + row.last_name;
	            }},
	            { title: 'Username', data : 'username' },
	            { title: 'Role',     data : 'role', render : function(data, type, row){
	            	return (data == 1) ? 'Super Admin' : 'Admin';
	            }},
	            { title: 'Controls', data : 'id', render: function(data, type, row){
	                if((row.is_protected == 'no')){
	                	return '<a href="/admin/edit-admin/'+data+'" role="button" title="Edit"><i class="btn btn-success btn-xs fa fa-pencil"></i></a> ' +
	                        '<a href="/admin/admin-users/delete/'+data+'" role="button" title="Delete" data-method="post" data-confirm="Are you sure to delete this admin?"><i class="btn btn-danger btn-xs fa fa-trash"></i></a>';
	                }else{
	                	return '';
	                } 
	            }}
	        ]
	    })
	  });
	</script>
</body>
</html>
