<!DOCTYPE html>
<html>
<head>
  <% include ../common/header %>
</head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

  <% include ../common/nav %>

  <% include ../common/left %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <section class="content-header">
      <h1>
        Dashboard
        <small>Admin Panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
    

  </div>
  <!-- /.content-wrapper -->

</div>
  <% include ../common/footer %>
</body>
</html>
