<header class="top-header forgot-pass">
  <app-navbar></app-navbar>
  <!-- banner -->
  <div class="container top-banner">
    <div class="row ">
      <div class="col-md-5 banner-heading">
        <h2><strong>{{ pageTemplate }}</strong></h2>
        <label>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis elementum tellus. Nullam ornare porttitor eros, sed aliquet nulla efficitur ac. Fusce eu neque vel metus convallis finibus. Praesent dictum lacinia elit suscipit rhoncus. Curabitur non placerat dolor, a gravida nisl. Maecenas augue felis, fermentum eu posuere in, porta cursus enim. Aliquam erat volutpat. Fusce ac sodales turpis, eget vestibulum ante. Donec auctor commodo malesuada.
        </label> 
      </div> 
    </div>
  </div>
  <!-- banner -->
</header>

<!-- category-bar -->
<div class="container category-bar">
  <div class="row">
    <div class="col-md-12"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis elementum tellus. Nullam ornare porttitor eros, sed aliquet nulla efficitur ac. Fusce eu neque vel metus convallis finibus. Praesent dictum lacinia elit suscipit rhoncus. Curabitur non placerat dolor, a gravida nisl. Maecenas augue felis, fermentum eu posuere in, porta cursus enim.</div>
  </div>
</div>

<footer><app-logo-footer></app-logo-footer></footer>
       