<header class="top-header create-acc">
	<app-navbar></app-navbar>

	<!-- banner -->

	<div class="container top-banner">
		<div class="row">
			<div class="col-md-5 banner-heading">

				<h2>Creat your <strong>account </strong></h2>
				<label>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				</label>


			</div>


		</div>
	</div>

	<!-- banner -->

</header>
<!-- category-bar -->
<div class="container category-bar">
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<a routerLink="user" class="btn sign-up-user pull-right">Sign Up as a User</a>
		</div>
		<div class="col-md-4">
			<a routerLink="trainer" class="btn sign-up-trainer">Sign Up as a Trainer</a>
		</div>
	</div>
</div>

<footer>
	<!-- copyright -->
	<div class="container-fluid copyright">
		<div class="row">
			<div class="container">
				<div class="row">
					<span class="footer-logo">Logo</span>
					<label class="pull-right">&copy; 2017 Copyrights by wellfaster</label>
				</div>
			</div>
		</div>
	</div>
</footer>
