
<!DOCTYPE html>
<html>
<head>
 
</head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

  

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <section class="content-header">
       <p>{{ name }} Please use following link to reset your password on {{ config.app.siteName }} <br></p>
       <a href ="{{url}}"  target="_blank">Reset password</a>
     </section>
</body>
</html>
