<div class="container">
  
    <div class="login-wrap login-form">
    
      <div class="input-group" style="cursor:pointer"  [class.ty]="plan === 7" (click)="getplan(7)">
      7 meals per week
      </div>
      <div class="input-group" style="cursor:pointer"   [class.ty]="plan === 14"   (click)="getplan(14)" >
        14 meals per week
      </div>

      <div class="input-group" style="cursor:pointer"   [class.ty]="plan === 21"  (click)="getplan(21)">
        21 meals per week
      </div>
      
      <button class="btn btn-primary btn-lg btn-block" (click)="saveplan()" type="submit">Save</button>
  
  </div>
     
  
  </div>
<style>
  .ty{
    background-color:green;
  }
</style>