<header class="top-header forgot-pass">
  <app-navbar></app-navbar>
  
  <!-- banner -->
  <div class="container top-banner">
    <div class="row">
       <div class="col-md-5 banner-heading">
          <!-- <div *ngFor="let err of messages">
            <alert type="danger" [dismissible]="dismissible">{{ err }}</alert>
          </div> -->

        <h2>Forgot your <strong>password! </strong></h2>
          <label>
            Provide your username and we'll send instructions to the email associated with your account to set a new password.
          </label>                   
       </div> 
     </div>
  </div>
  <!-- banner -->
   
 </header>
 
  <!-- category-bar -->
  <div class="container category-bar">
  
    <div class="row">

        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        <div class="col-md-4 col-md-offset-2">
          <div [ngClass]="{'has-error' : 
                forgotForm.get('email').invalid && ( 
                forgotForm.get('email').dirty || 
                forgotForm.get('email').touched)
              }"
              class="form-group">  
              <div class="white-btn rmshd">
                <input 
                  type="text" 
                  formControlName="email"
                  class="form-control"
                  placeholder="Enter your email address">
              </div>    
              
              <div *ngIf="
              forgotForm.get('email').invalid && ( 
                forgotForm.get('email').dirty || 
                forgotForm.get('email').touched)"
              >
              <span *ngIf="forgotForm.get('email').errors.required"
                class="help-block">
                  Username is required.
              </span>
              <span *ngIf="
                  !forgotForm.get('email').errors.required && 
                  forgotForm.get('email').errors.email"
                class="help-block">
                  *Username must be valid email address.
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <button type="submit" class="btn sign-up-trainer" [disabled]="!forgotForm.valid" >Send Instruction</button>
        </div>
      </form>  
    </div>
  </div>
 
 <footer><app-logo-footer></app-logo-footer></footer>
 